<main>
    <div><h1>About</h1></div>
    <p class="about">Functionality:
        <ul class="about">
            <li>Display all restaurants on a single page</li>
            <li>Display a restaurant page with menus</li>
            <li>Add a restaurant</li>
            <li>Delete a restaurant</li>
            <li>Update a restaurant by changing its name or image</li>
            <li>Add a menu for a restaurant</li>
            <li>Delete a menu</li>
            <li>Add new items to a menu</li>
            <li>Delete a menu item</li>
            <li>Display current time on main page (!)</li>
        </ul>
    </p>
</main>
