<main>
    <div><h1>Add restaurant</h1></div>
    <aricle>
        <form action="/" method="POST">
            <label>Restaurant's name</label>
            <input name="name" type="text" placeholder="Restaurant's name" required/>
            <br>
            <label>Image URL</label>
            <input name="image" type="url" placeholder="Image URL" required/>
            <br>
            <button>Add restaurant</button>
        </form>
    </aricle>
</main>
