<main>
    <div><h1>Add a menu</h1></div>
    <aricle>
        <form action="/edit/restaurants/{{restaurant.id}}/add_menu" method="POST">
            <label>Menu name</label>
            <input name="title" type="text" placeholder="Menu name"/>
            <br>
            <label>Item name</label>
            <input name="name" type="test"/>
            <br>
            <label>Item price</label>
            <input name="price"/>
            <br>
            <button disabled="true">Add menu</button>
        </form>
    </aricle>
</main>
