<main>
    <div><h1>Add a menu</h1></div>
    <aricle>
        <form action="/edit/restaurants/{{restaurant.id}}/add_menu" method="POST">
            <label>Menu name</label>
            <input name="title" type="text" placeholder="Menu name"/>
            <input name="RestaurantId" type="hidden" value="{{restaurant.id}}"/>
            <br>
            <h2>You can add items on the restaurant page</h2>
            <button>Add menu</button>
        </form>
    </aricle>
</main>
