<main>
    <div><h1>Edit restaurant</h1></div>
    <h2>What would you like to do?</h2>
    <aricle>
        <form action='/edit/add' method="GET" class="editor_button">
            <button>Add restaurant</button>
        </form>
        <form action='/edit/restaurants' method="GET" class="editor_button">
            <button>Edit restaurant</button>
        </form>
    </aricle>
</main>



{{!-- <form action="/restaurants/{{restaurant.id}}" method="POST">
    <label>Restaurant's name</label>
    <input name="name" value="{{restaurant.name}}" required/>
    <br>
    <label>Image URL</label>
    <input name="image" type="url" placeholder="Image URL" required/>
    <br>
    <button>Update restaurant</button>
</form> --}}
